.orden {
  display: flex;

  height: 98v;
  width: 100% !important;
  overflow-y: scroll;
  /* background-color: white; */
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;

  /* overflow-y: scroll; */
}

.split {
  display: flex;
  width: 100%;
  border-bottom: 1px solid;
  margin-bottom: 2rem;
}
.wrap {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
}
.orden .resultados {
  /* display: flex;
  flex-direction: column; */
  overflow-y: scroll;
  width: 100%;
}
.orden-wrapper {
  margin-top: 0.2rem;
  display: flex;
  justify-content: center;
}
.orden-wrapper div {
  margin-right: 1rem;
}
.orden button {
  margin-top: 2rem;
  width: 20%;
}

.orden .header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 0.5px solid;
  padding: 1rem 0rem;
  margin-bottom: 1rem;
}
.header h1 {
  margin-right: 2rem;
  margin-left: 0.8rem;
}
.br {
  /* border: 1px solid !important; */
  border-color: black !important;
}
.orden p {
  margin: 0;
}

.box {
  display: flex;
  margin: 0.5rem 1rem;
  flex-direction: column;
}
.partes {
  width: 100%;
}
.half {
  flex: 1 30%;
  flex-wrap: wrap;
  margin: 0.5rem;
}
div.pagebr {
  page-break-inside: avoid !important;
}

.order {
  size: 7in 9.25in !important;
  min-height: 14.5in;
  padding: 1rem 0.5rem;
  /* background-color: white; */
  margin: 0;
  padding: 0;
  margin: 3rem 6rem;
  page-break-before: always !important;
  background-color: white;
  border: 1px solid;
  border-color: rgb(119, 119, 119);
}

h1 {
  page-break-before: always;
}

@media print {
  .order {
    margin: 10mm 0mm 10mm 0mm;
    transform: scale(1);
    /* border: 0; */
  }
  #sidebar {
    width: 0 !important;
    display: none;
  }
  .wrap {
    display: none;
  }
  .navbar {
    display: none;
  }
}
