.OT {
  display: flex;
  flex: 1 100% !important;
  flex-direction: column;
  height: 100vh !important;
  margin-top: 2rem;
}

.OT button {
  max-width: 95%;
  border-radius: 0.2rem;
  border: 1px solid;

  margin: 1rem 0rem;
  height: 2.5rem;
}

.subBtn {
  width: 400px;
}

.split-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.split-left {
  display: flex;
  flex: 1 100%;
  flex-direction: column;
  flex-wrap: wrap;
  height: 90%;
}
.split {
  flex: 1 65%;
  display: flex;
  flex-direction: column;
}
.datos {
  display: flex;
  flex-direction: column;
}
input::placeholder {
  margin: 2rem;
}

.vendido {
  display: flex;
  flex-direction: column;
}

.errorInput {
  border: 2px solid !important;
  border-color: red !important;
}

.OT select {
  margin: 0.3rem 0rem;
  border-radius: 0.2rem;
  appearance: none;
  padding: 0.1rem 0.4rem;
  width: 400px;

  height: 2.6rem;
}

.disabled {
  background-color: rgb(211, 211, 211);
}

.scroll-body {
  height: 400px;
  overflow-y: scroll;

  width: 100%;
}

.scroll {
  max-height: 400px !important;
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid;
  border-color: rgb(160, 159, 159);
}

.OT input {
  margin: 0.3rem 0rem;
  border-radius: 0.2rem;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.644);
  padding: 0.1rem 0.4rem;
  margin: 0.3rem 0rem;
  padding: 0.5rem;
  width: 400px;
}
.enviar {
  display: flex;

  flex-direction: column;
}

.currencySelect {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.currencyBorder {
  border-right: none !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

@media only screen and (max-width: 600px) {
  .split-left {
    flex-wrap: nowrap;
  }

  select {
    width: 400px !important;
  }
  .OT {
    align-content: center;
    font-size: 18px !important;
    align-items: center;
    border: 1px solid;
  }
}
