.OT {
  display: flex;
  flex: 1 100%;
  margin-top: 2rem;
  margin: 2rem 5rem;
  width: 100%;
  height: 90vh;
  flex-direction: column;
}

.OT button {
  max-width: 100%;
  border-radius: 0.2rem;
  border: 1px solid;

  margin: 1rem 0rem;
  height: 2.5rem;
}

.subBtn {
  width: 400px;
}

.split-left {
  display: flex;

  flex: 1 100%;
  flex-direction: column;
  flex-wrap: wrap;
  height: 90%;
}

.datos {
  display: flex;
  flex-direction: column;
}
input::placeholder {
  margin: 2rem;
}

.errorInput {
  border: 2px solid !important;
  border-color: red !important;
}

.OT select {
  border-radius: 0.2rem;
  appearance: none;

  height: 2.6rem;
}

.disabled {
  background-color: rgb(211, 211, 211);
}

.scroll-body {
  height: 400px;
  overflow-y: scroll;

  width: 100%;
}

.scroll {
  max-width: 100%;
  overflow-x: scroll;
}

.tableX {
  width: 100%;
  border-bottom: 1px solid;
  height: 500px;
  margin-bottom: 10px;
  border-color: rgb(184, 184, 184);
}

.OT input {
  margin: 0.3rem 0rem;
  border-radius: 0.2rem;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.644);

  padding: 0.5rem;
  width: 400px;
}

.ot-total {
  display: flex;
}

.ot-total select {
  margin-right: 2rem;
}

.currencySelect {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  width: 3.5rem !important;
}

.currencyBorder {
  width: 200px !important;
  border-right: none !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.IVA {
  width: 5rem !important;
}
@media only screen and (max-width: 600px) {
  .split-left {
    height: 100%;
    flex-wrap: nowrap;
  }
  .tableX {
    overflow-x: scroll;
    margin: 0;
  }

  .OT {
    font-size: 18px;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 2rem;

    height: 100%;
  }
  .OT button,
  select,
  input {
    height: 3rem !important;
  }
}
