/* .sidebar {
  display: flex;
  flex-direction: column;

  width: 200px;
  justify-content: space-between;
  padding: 1.8rem 2rem;
  border-color: rgb(209, 209, 209);
  height: 100%;
} */
#top {
  padding: 0.5rem 0rem;
}
#bottom {
  padding: 2rem 0rem;
}

#tab-text {
  font-size: 1rem;
  margin: 1rem 0rem;
}
#tab {
  font-size: 1rem !important;
}
#tab-item {
  font-size: 0.9rem;
}

#sidebar {
  display: flex;
  height: 100vh;

  display: block;
  justify-content: space-between;

  background-color: white;
  padding: 1.8rem 2rem;

  position: relative;
  visibility: hidden;
  z-index: 1;
  max-width: 200px;
  min-width: 0%;
  border-right: 1px solid;
  border-radius: 0.2rem;
  border-color: rgb(212, 212, 212);
  transition: width 1s !important;
}
#sidebar p {
  margin: 2rem;
}
@media only screen and (max-width: 1000px) {
  #sidebar {
    width: 100%;
    max-width: 100%;
    position: absolute;
  }
}
