/* .sidebar {
  display: flex;
  flex-direction: column;

  width: 200px;
  justify-content: space-between;
  padding: 1.8rem 2rem;
  border-color: rgb(209, 209, 209);
  height: 100%;
} */
#top p,
h4 {
  padding: 0.1rem 2rem;
}
#bottom h4 {
  padding: 2rem 2rem;
}

#tab-text {
  font-size: 1rem;
  margin: 1rem 0rem;
}
#tab {
  font-size: 1rem !important;
}
#tab-item {
  font-size: 0.9rem;
}

#sidebar h4 {
  color: white;
}
#bottom {
  background-color: #3d8197;
  width: 100%;
  margin: 0;
  padding: 0;
}

#sidebar {
  display: flex;
  min-height: 91vh;
  flex-direction: column;
  height: 100%;
  background-color: #008bbaf5;
  padding: 0rem 0rem;
  visibility: hidden;
  /* position: absolute; */
  z-index: 1;
  max-width: 200px;
  min-width: 0%;
  /* border-radius: 0.2rem; */
  color: white !important;
  justify-content: space-between;

  transition: width 1s !important;
}
#sidebar p {
  margin: 2rem;
}
@media only screen and (max-width: 1000px) {
  #sidebar {
    width: 100%;
    max-width: 100%;
    position: absolute;
  }
}
