.t {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 0.9rem !important;

  margin: 0.5rem;
  margin-bottom: 0;
  transition: ease-in 1s;
}

input::placeholder {
  margin: 2rem !important;
}
.table-item {
  height: 5.6rem !important ;
}
.delete-button {
  color: white;
  transition: ease-in 0.3s;

  width: 3rem !important;
  height: 0.5rem !important;
  background-color: rgb(194, 23, 23) !important;
  margin: 0 !important;
  padding: 0 !important;
}

.table-item:hover .delete-button {
  height: 2rem !important;
  background-color: red;
  transition: ease-in 0.2s;
}
.search-button {
  color: white;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;

  width: 3.5rem !important;
  background-color: rgb(80, 100, 105) !important;
}

select {
  border: none;
  background-color: #158cba;
  color: white;
}

.t input {
  border-color: rgb(141, 132, 132) !important;
  border: 0.5px solid;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  margin-left: 1rem !important;
  border-right: none !important;
}

.x {
  /* background-color: white; */
  padding: 0.5rem;
  padding-bottom: 0;
  overflow-y: scroll;
  transition: ease-in 1s;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  overflow-y: scroll;

  border-radius: 0.2rem;
  min-height: 88vh;
  max-height: 88vh;
}
thead {
  background-color: #ebebeb;
  border-top-right-radius: 0.5rem !important;
  border-top-left-radius: 0.5rem !important;
}
thead,
th {
  border: none !important;
}
table {
  border-top-right-radius: 0.5rem !important;

  background-color: white;
  border-radius: 0.3rem;
  border: none;
}

#tables {
  overflow-y: scroll;
  overflow-x: scroll;
  width: 100%;
}
.t button {
  color: white;
  width: 10rem;
  height: 2.5rem;
  background-color: #158cba;
  border-radius: 0.2rem;
  border: none;
  margin: 1rem 0rem !important;
}

.table-item:hover {
  background-color: rgba(0, 119, 255, 0.068);
}

.table-item {
  align-content: baseline !important;
  justify-content: baseline;
  align-items: center !important;
}

.head-actions {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .table {
    overflow-x: scroll;
  }
  table {
    /* transform: scale(0.6) !important; */
    margin: 0;
    width: 100% !important;

    transform-origin: left top;
  }
}
