.t {
  display: flex;
  flex-direction: column;
  padding: 2rem 0.2rem;
  height: 100vh !important;
  font-size: 0.9rem !important;
}
.delete-button {
  color: white;
  width: 2.5rem !important;
  background-color: rgb(194, 23, 23) !important;
}

#tables {
  overflow-y: scroll;
  height: 100vh;
}
.t button {
  color: white;
  width: 10rem;
  height: 2rem;
  border-radius: 0.2rem !important;
  border: none;
  margin: 1rem 0rem !important;
  background-color: #000000;
}
button {
  color: white;
  height: 2rem;
  border-radius: 0.2rem !important;
  border: none;
  background-color: #000000;
}

.table-item:hover {
  background-color: rgba(133, 133, 133, 0.178);
}

.table-item {
  align-content: baseline !important;
  align-items: center !important;
}
